@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

*{ 
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/**---탑버튼---**/
.scroll-top {
	position: fixed;
  text-align: center;
	right: 1.2%;
	bottom:140px;
	z-index: 100;
	background-color: #232323;
  opacity: .4;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	color: #FFCD00;
}
.scroll-top:hover {
	cursor: pointer;
    opacity: 100;
}


/**메뉴**/

input {
  display: none;
}

.open {
  margin-top: 30px;
  right: 15%;
  background-color: #FECD04;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 8px;

}

.open:before {
  content: "";
  background-color: #FECD04;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  transform: rotate(0deg);
  transition: all 0.3s ease;

}

.open:after {
  content: "";
  background-color: #FECD04;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  padding: 0px;
  cursor: pointer;
  float: right;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  margin-top: 0px;
  position: fixed;
  width: 414px;
  height: 310px;
  top: 0;
  left: 0;
  z-index: 28;
  background: #232323;
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 0px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 74%;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu ul li a {
  display: block;
  color: #FECD04;
  text-decoration: none;
  transition: color 0.2s;
  line-height: 2;
  text-transform: uppercase;
  padding: 0px 0;
}

.menu ul li a:hover {
  color: #Ffff;
 background-color: #FECD04; 
}



.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color:  #FECD04;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color:  #FECD04;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 100;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}

.menu_ft{
  font-size: 6pt;
  text-align: center;
  padding-top: 35px;
  line-height: 1.5;
  color: #7e7e7e;
  font-family: 'Apple SD 산돌고딕 Neo';

}


.m_ft{

}
/**index**/
.m_index_btn{
text-align: center;
margin-top: -120px;



}

.m_index_bg{
  margin-top: 0px;
  background-size: cover;
}


/*--main--*/
.main_top{
  margin-top: -30px;
}

.main_cont01{
    margin-top: 0px;
    border: solid 0px red;
    padding-bottom: 5px;
}



/*--서브01--*/
.sub01_top{
  margin-top: -30px;
}

.sub01_cont01{
    margin-top: 0px;
    border: solid 0px red;
}


.sub01_cont02{
    border: solid 0px red;
    margin-top: 0px;
    padding-bottom: 0px;
}


/*--서브02--*/
.sub02_top{
  margin-top: -30px;
}

.sub02_cont01{
  margin-top: 0px;
  border: solid 0px red;
}
.sub02_cont02{
  margin-top: 0px;
  border: solid 0px red;
}


/*--서브03--*/
.sub03_top{
  margin-top: -30px;

}

.sub03_cont01{
  margin-top: 0px;
  border: solid 0px red;

}
.sub03_cont02{
  margin-top: 0px;
  border: solid 0px rgb(25, 0, 255);

}


/*--서브04--*/
.sub04_top{
  margin-top: -30px;
}

.sub04_cont01{
  margin-top: 0px;
  border: solid 0px red;



}
.sub04_cont02{
  margin-top: 0px;
  border: solid 0px rgb(25, 0, 255);
}

.sub04_cont03{
  margin-top: 0px;
  border: solid 0px rgb(0, 255, 229);


}
